html, body {
    font-family: 'MPLUSounded1c-Black';
    margin: 0;
    padding: 0;
    height: 100%;
}

#Portada {
    background-image: url("/assest/img/portada.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
}

#Portada h1, #Portada h2 {
    font-size: 83px;
    color: white;
}

#Portada h2 {
    font-size: 63px;
}

#Portada p {
    font-size: 24px;
    color: white;
    margin-left: 50%;
}
